@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background-color: #191919;
  --color-footer-background: #161616;
  --color-text-headings: #FFFFFF;
  --color-text-typography: #CCCCCC;
  --color-text-muted: #636363;
  --color-brand-color: #FFD911;
  --font-londrina-solid: var(--font-londrina-solid);
  --font-inter: var(--font-inter);
  --font-island: var(--font-island-moments);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
